mat-form-field {
  width: 100%;
}

mat-card-actions {
  width: 25%;
  margin: 0 auto;
}

mat-card-actions button {
  width: 100%;
  font-size: 1.20rem;
  padding: .25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

mat-spinner{
  margin: auto;
}
