<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <!-- template driven form -->
  <!-- ele é um form definido completamento definido no template do componente -->
  <!-- form group corresponde ao objeto de formulario que foi definido no ts do componente -->
  <form [formGroup]="form" *ngIf="!isLoading" (submit)="onSalvarClient()">

    <!-- nome -->
    <mat-form-field appearance="fill">
      <mat-label>Digite seu nome</mat-label>
      <!-- form control name vincula o form control definido no ts do componente dentro do objeto do form group -->
      <input matInput type="text" name="nome" #nomeInput formControlName="nome" />
      <button *ngIf="nomeInput.value" matSuffix mat-icon-button aria-label="Limpar" (click)="nomeInput.value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <div style="margin-bottom: 15px;">
      <button mat-stroked-button type="button" (click)="selecionaArquivo.click()">Selecionar imagem</button>
      <input (change)="onImagemSelecionada($event)" type="file" #selecionaArquivo>
      <!-- esta hidden no css para que possa apenas utilizar a funcionalidade de navegar nas pastas do computador-->
    </div>

    <div *ngIf="urlImagemPreview && urlImagemPreview !== ''" class=" imagem-preview">
      <img [src]="urlImagemPreview" [alt]="form.value.nome"
        *ngIf="urlImagemPreview && urlImagemPreview !== '' && form.get('imagem').valid">
    </div>

    <!-- fone -->
    <mat-form-field appearance="fill">
      <mat-label>Digite seu telefone</mat-label>
      <input matInput type="text" name="fone" #foneInput formControlName="fone" />
      <button *ngIf="foneInput.value" matSuffix mat-icon-button aria-label="Limpar" (click)="foneInput.value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Digite um telefone válido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Digite seu email</mat-label>


      <!-- email -->
      <input matInput type="text" name="email" #emailInput formControlName="email" />
      <button *ngIf="emailInput.value" matSuffix mat-icon-button aria-label="Limpar" (click)="emailInput.value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Digite um e-mail válido</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="accent">Salvar</button>
    </mat-card-actions>
  </form>
</mat-card>
